---

- name: Process variables
  hosts: all
  gather_facts: false
  tags: test
  tasks:
    - name: Populate service facts
      service_facts:

    - name: Gather OS Facts
      setup:
        gather_subset:
          - '!all'
          - '!any'
          - user
          - os_family
          - hardware
      tags: always

- name: Test topic creation, produce and consume
  hosts: all
  vars:
    kafka_user: ""  # Set to your broker username if SASL is enabled
    kafka_password: ""  # Set to your broker password if SASL is enabled
    ssl_enabled: false
    kafka_broker:
      hosts:
        - localhost:9093 # Amended to match the broker host in the test environment
  gather_facts: false
  tags: test, produce_consume
  tasks:
    - import_role:
        name: tests
        tasks_from: produce_consume.yml
